// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background { 
  background-color: #FFF; 
}

.logo-size{ 
  background-color: #FFf !important; 
}

.title {
  font-size: 1.3em;
  width: 100%;
  font-family: 'Lucida Console';
  font-style:  bold;
  font-weight: bold;
  text-shadow:    0 1px 0 #ccc,
                  0 2px 0 #c9c9c9,
                  0 3px 0 #bbb,
                  0 4px 0 #b9b9b9,
                  0 5px 0 #aaa,
                  0 6px 1px rgba(0,0,0,.1),
                  0 0 5px rgba(0,0,0,.1),
                  0 1px 3px rgba(0,0,0,.3),
                  0 3px 5px rgba(0,0,0,.2),
                  0 5px 10px rgba(0,0,0,.25),
                  0 10px 10px rgba(0,0,0,.2),
                  0 20px 20px rgba(0,0,0,.15);
  color:#CD5C5C !important;
}  

.buttonCor{
  background-color: #fff !important;
}

ion-content{
  background-color:#CD5C5C !important;

}

.atribute{
  font-weight: bold; font-size: 17px; text-align: center;
}

ion-icon {
  font-size: 30px !important; //Preferred size here
}

h1{
  color: white; text-shadow: black 0.1em 0.1em 0.2em
}